[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
obd = "0.7.1"
paho-mqtt = "1.5.1"
toml = "0.10.2"
gps = "3.19"
eel = "*"

[dev-packages]
pytest = "6.2.4"
pytest-cov = "2.12.1"
flake8 = "3.9.2"
isort = "5.9.3"
Flask = "2.0.1"
codespell = "2.1.0"
pylint = "2.9.6"

[requires]
python_version = "3"
